<h1>Flickerstrike Frenzy Calculator</h1>
<div>
  A calculator that calculates the average and expected frenzy charge genration while using flicker strike to assist my fellow flicker strikers in achieving infinite flicker.<br>
  Uses <a href="https://en.wikipedia.org/wiki/Binomial_distribution">binomial distribution</a> to calculate a cumilative probability of a series of events (in this case, hits).
</div>
<h2>How to Use:</h2>
<div>
    Add all your chances to gain a frenzy charge on hit. This is the number you put into the first input.<br>
    <span style="font-style: italic; padding-left:1rem;">Conditional frenzy on hit such as raider on hitting a rare or unique counts addatively with flat chance on hit. (Contact me if I'm wrong).</span>
    <br>
    Sources of frenzy on crit (Terminus) or ignite (Oro's) are calculated independantly as they grant a frenzy charge when a given event happens. Use this second input box for this.
    <br><br>
    <span>The goal is to hit above a 1 in expected frenzy charges generated. </span>
    <br>This will ensure you will usually have at least 1 frenzy lined up for the next attack and have a steady building supply in case you don't generate one.
</div>
<br><br>
<div>
  <input class="frenzyPercent" [(ngModel)]="enemies" placeholder="enemies" type="number" (ngModelChange)="caculateFrenzy()" max="10"/> enemies hit with 
  <select (change)="caculateFrenzy()" [(ngModel)]="multistrikeUsage">
    <option value="s" >a single hit</option>
    <option value="m">Multistrike</option>
    <option value="mPlus">Multistrike Plus</option>
  </select>.
  <br>
  <input class="frenzyPercent" [(ngModel)]="onhitPercent" placeholder="percent" type="number" (ngModelChange)="caculateFrenzy()"/> % chance of gaining a frenzy charge.<br>
  <input class="frenzyPercent" [(ngModel)]="onhitIgCrit" placeholder="percent" type="number" (ngModelChange)="caculateFrenzy()"/> % chance to crit/ignite.
</div>
<br>
<div>
  Your chance to get at least 1 frenzy charge is: {{percentForOneOrMore}}%.<br>
  The expected number of frenzy charges generated is {{frenzyExpected}}.<br><br>

  Your chance to get exactly 0 frenzy charges is: {{percentForNone}}%.<br>
  Your chance to get exactly 1 frenzy charge is: {{percentForOne}}%.<br>
</div>
<br>
<h2>Assumptions</h2>
<div>
    You have 100% accuracy.<br>
    <span style="text-decoration: line-through;">You have multistrike.</span> <br>
    <span style="text-decoration: line-through;">You are hitting only 1 enemy.</span>
</div>